.container
  @include flex-center
  margin-bottom: 1rem
  
.btn-zoom
  @include btn-rounded ($text-color-light, $btn-main-color, $text-color-light, $btn-hover-color)

  &:hover
    transform: scale(1.1)

.btn-dezoom
  @include btn-rounded ($text-color-light, $btn-main-color, $text-color-light, $btn-hover-color)

  &:hover
    transform: scale(0.9)

.form
  &__group
    input
      @include input

.btn
  @include btn-rounded ($text-color-light, $color-ball, $text-color-light, darken($color-ball, 10%))

  &:active + .ball
    background-color: darken($color-ball, 10%)
    border-radius: 50%
    transform: scale(0.7) translate(100%)
  

.ball
  @include ball

.btn
  &:active
    & + .progress
      & > .progress__bar
        transform: scaleX(1)

.progress 
  width: 100%
  height: 3rem
  padding: 0.3rem
  border: 2px solid $btn-main-color
  margin: 2rem 0

  &__bar 
    height: 100%
    width: 100%
    cursor: progress
    background-color: $color-ball
    transform: scaleX(0)
    transition: transform 2s cubic-bezier(.32,0,.07,1)
    transform-origin: left
    
.btn3d 
  color: white
  font-size: 3.5rem
  cursor: pointer
  position: relative
  width: $btn-width
  height: $btn-height
  perspective: $persp
  &:active 
      & > .btn__flip 
          transform: rotateX(-90deg)
      
  
  .btn__flip 
      @include facet
      transform-style: preserve-3d
      transform-origin: center bottom ($btn-height/2)
      transition: transform 500ms cubic-bezier(.7,.01,.23,.99)
      transform: rotateX(0deg)
      .btn__flip--off 
          transform: rotateX(0deg) translateZ($btn-height/2)
          @include facet
          background: $cd-off
      
      .btn__flip--on 
          transform: rotateX(90deg) translateZ($btn-height/2)
          @include facet
          background: $cd-on
        
    

