// colors
$text-color-dark: #0f172a
$text-color-light: #f8fafc
$color-bg-main: #f5f5f4
$btn-main-color: #7c3aed
$btn-hover-color: #3730a3
$input-ring-color: #fff
$cd-danger: #ef4444
$cd-valid: #22c55e
$color-ball: #0891b2

// tailles des fonts
$font-size-h1: 4rem
$font-size-h2: 3.5rem
$font-size-h3: 3rem
$font-size-h4: 2.5rem
$font-size-h5: 2rem
$font-size-h6: 1.5rem
$font-sise-para: 1.3rem

// les police d'écriture
$police-title: "Kalnia", serif
$police-link: "Quicksand", sans-serif
$police-text: "Montserrat", sans-serif

// la graisse de mes testes
$font-weigth-black: 900
$font-weigth-bolt: 700
$font-weigth-regular: 400
$font-weigth-fine: 200